.iconoRedSocial {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  .imgEmpresa {
    width: 100px;
    height: 100px;
  }
  
  .contenedor{
      display: flex;
      margin-bottom: 15px;
      padding: 10px;
      justify-content: space-around;
  }
  
  .item{
    justify-content: space-around;
  }
   .verProducto{
      width: 50%;
   }
  
  
   /* .a{
     width: 80%;
   } */